
body {
    color: #620606ec;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.6em;
    margin: 0px;
    margin-left: 60px;
    margin-right: 60px;
}
.about h1{
  color: #110f0f;
  margin-top: 10px;
  padding: 0;
  font-size: 30px;
  font-weight:bold; 
  text-align: center;
}
.about h2 {
    font-size: 30px;
    font-weight:bold ; 
    color: blue;
}
.exp-list h1 {
    font-size: 30px;
    font-weight:bold ; 
    color: blue;

 } 
 .exp-list h2{
    display:grid;
    text-align: center;
    padding: 60px;;
}   
.exp-list  {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    background-color: #2196F3;
    padding: 15px;
  }
  
  .exp-list .li{
      display: grid;
    background-color: rgba(255, 255, 255, 0.8);
    list-style: none;
    padding: 5px 0;
    font-size: 18px;
  }
  .exp-list .li2{
    display: grid;
  background-color: rgba(126, 216, 150, 0.8);
  list-style: none;
  padding: 5px 0;
  font-size: 18px;
}
#skills{
    margin-top: 20px;
    display:flex;

    }
 #skills h2 {
    font-size: 30px;
    font-weight:bold ; 
    color: blue;
    
 }
 #skills li{
    justify-content: space-between;
    font-size: 18px;
        font-weight:normal ; 
        font-style:normal;
        list-style: none;
        list-style:square;
        border-style: dashed solid;
        padding: 20px 20px;
 }
 .messages h2 {
    font-size: 30px;
    font-weight:bold ; 
    color: blue;
}
.leaveM h2 {
    font-size: 30px;
    font-weight:bold ; 
    color: blue;
}
 #Connect {
     font-size: 30px;
        font-weight:bold ; 
        color: blue;
    }
/* .exp-list{
        background-color: white;
        font-size: 18px;
        font-weight:normal ; 
    } */
    /* .exp-list ul{
        font-size: 18px;
        font-weight:normal ; 
        font-style:normal;
        list-style: none;
        list-style:square;    
    } */
input[type=text], #form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], #form{
    width: 100%;  
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea[name=message], #form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;  
}

 #form button{
    background-color: rgb(42, 213, 42);;
    width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(146, 25, 25);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
#messages{
    border: 4px dotted rgb(42, 119, 126);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#messages button{
    font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 7px 12px;
  /*margin: 6px 0;*/
  background-color: black;
  border-radius: 3px;
}
footer{
background-color: black;
color: white;
text-align: center;
padding: 5px;
margin-top: 40px;
}
.about p{
    font-size: 18px;
    text-indent: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
/* for mobile */
@media (max-width: 480px) {
    body {
        background-color: rgb(241, 159, 159);
    }
}
/* low resolution tablet ipad */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: rgb(215, 215, 143);
    }
}
/* tablet ipad portrait mode*/
@media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: rgb(105, 208, 143);
    }
}
/* laptop and desktom */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: #83bfbfb9;
    }
}
/* for larege screen */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}
#navBar{
overflow: hidden;
background-color:black;
position: sticky;
top: 0;
/*z-index: 100;*/
}
 #navBar a {
    float: 100%;
    color: #f2f2f2;
    text-align: center;
    padding: 70px;
    text-decoration: none;
    font-size: 20px;
  }
  #projects h2{
    font-size: 30px;
    font-weight:bold ; 
    color: blue;

}
   