
body {
    color: #620606ec;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(244, 218, 222);
    margin: 30px;
  }
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin-top: 20px;
    padding: 33px;
  }
  
  #img {
      padding-right: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
#text{
    padding-left: 25px;
    font-size: 100px;
    font-family:Brush Script MT, Brush Script Std, cursive;
    color: palevioletred;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
}
.about h1{
  color: #110f0f;
  margin-top: 40px;
  font-size: 40px;
  font-weight:bold; 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about h2 {
    font-size: 40px;
    font-weight:bold ; 
    color: palevioletred;
    padding-top: 30px;
}
#paragraph{
    font-size: 20px;
}
  
#Experience li{
    display: inline-flex;
    /* border: 4px dotted palevioletred; */
    border: 2px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    list-style: none;
    margin: 8px;
    background-color: #9ce9e6;
    color: #110f0f;
}
/* #Experience{
    width: 900px;
    height: 295px;
    border: 1px solid black;
    display: flex;
    align-self: center;
   background-color: rgb(136, 197, 147); 
}*/
#Experience h2{
    padding-top: 40px;
    color: palevioletred;
    font-size: 30px;
}
#skills{
    padding-top: 30px;
    }
 #skills h2 {
    font-size: 30px;
    font-weight:bold ; 
    color: palevioletred;
 }
 #skills li{
     font-size: 20px;
     font-weight: bold;
  display: inline-flex;
  height: 50px;
  border: 2px solid black;
  margin: 8px;
  align-items: center;
  border-radius: 10px;
  background-color: #8fdad7;
  padding: 12px 16px;
  list-style: none;
  color: #110f0f;
 }
 #messages h2 {
    font-size: 30px;
    font-weight:bold ; 
    color: palevioletred;
}
.leaveM h2 {
    font-size: 30px;
    font-weight:bold ; 
    color: palevioletred;
    padding-top: 30px;
}
 #Connect {
     font-size: 30px;
        font-weight:bold ; 
        color: palevioletred;
        padding-top: 30px;
    }
    #hoverPls li :hover{
        background-color: palevioletred;
    }
    #form{
        display: flex;
        flex-direction: column;
        align-items: center;}

input[type=text], #form{
    width: 60%;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], #form{
    width: 60%;  
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea[name=message], #form{
    width: 100%;
    padding: 30px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;  
}

 #form button{
    background-color: black;
    width: 20;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 7px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
#messages ul{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    border: 4px dotted palevioletred;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 30px;
}
/*remove BUtton*/
#messages button{
    font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 7px 12px;
  /*margin: 6px 0;*/
  background-color: black;
  border-radius: 3px;
  margin: 8px;
    border: 1px;
}

footer{
    display: inline-flex;
    flex-direction:row-reverse;
    width: 100%;
background-color: #8fdad7;
color: black;
text-align: center;
padding: 10px;
margin-bottom: 0px;
margin-top: 30px;
}
footer p{
    align-items: flex-start;
}
.no-color{
    padding-right: 0;
}
#footer-email{
    padding-left: 370px;
}
.about p{
    font-size: 18px;
    text-indent: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
#navBar{
    padding-top: 20px;
    padding-bottom: 10px;
overflow: hidden;
position: sticky;
top: 0;
}
 #navBar a {
    color: black;
    text-align: center;
    padding: 45px;
    text-decoration: none;
    font-size: 20px;

  }
  #navBar :hover {
    background-color: palevioletred;
  }
  #projects h2{
    font-size: 30px;
    font-weight:bold ; 
    color: palevioletred;
    padding-top: 30px;
}
#projects li{
    font-size: 20px;
     font-weight: bold;
  display: inline-flex;
  height: 50px;
  border: 2px solid black;
  margin: 8px;
  align-items: center;
  border-radius: 10px;
  padding: 12px 16px;
  list-style: none;
  background-color: #98d5d3;
}
#projects li :hover {
    background-color: palevioletred;
  }

#webPeg{
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 40px;
    font-weight:bold ;
    text-align: center;
    text-shadow: 2px 2px;
    color: palevioletred;
  background-image: linear-gradient(
    -225deg,
    #77d652 0%,
    #4fe3df 29%,
    #f4b1e2 67%,
    #fff800 100%)
}
.all{
margin-left: 60px;
margin-right: 60px;
padding: 15px;
}
  .cont {
    display: flex;
    height: 5%;
    background-color: #333;
  }
  .word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
  .test {
    background-color: #98d5d3;
  }

  /* For mobile phones: */
  @media screen and (max-width: 412px) {
    #skills li {
        flex-direction: row;
      width: 100%;
    }
    #projects li{
        width: 100%;
      }
      #lm{
        width: 100%;  
      }  
      #navBar{
          display: none;
      }
      footer{
          width: auto;
      }
  }  

  
